[submodule "hdf5"]
	path = hdf5
	url = https://github.com/mortenpi/hdf5.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
[submodule "pbbam"]
	path = pbbam
	url = https://github.com/PacificBiosciences/pbbam
[submodule "blasr_libcpp"]
	path = blasr_libcpp
	url = https://github.com/PacificBiosciences/blasr_libcpp
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
